@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-weight: 500;
  padding: 10px;
}

h1 {
  font-size: 30px;
}

.link {
  display: block;
  font-size: 18px;
  color: #fff;
  background-color: #315896;
  border-radius: 5px;
  padding: 10px 15px;
  transition: all ease-in 0.3s;
}

.link:hover {
  background-color: #1b3769;
}

.activeLink {
  background-color: #5989d6;
}
